<p id="notice"><%= notice %></p>
<table class="table table-hover table-dark ">

  <thead>
  <tr>
    <th scope="col"><strong>Speciality:</strong></th>
    <th scope="col"><strong>Course name:</strong></th>
    <th scope="col"><strong>Question:</strong></th>
    <th scope="col"><strong>Submission deadline:</strong></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= @homework.speciality %></td>
    <td><%= @homework.course_name %></td>
    <td><%= @homework.question %></td>
    <td><%= @homework.submission_deadline %></td>
  </tr>
  </tbody>
</table>

<%= link_to 'Back', homeworks_path %>
